---
const works = [
  {
    title: "Maps & Atlases",
    description: "Cartographic design for public health campaigns & more",
    link: "/works/grid3",
    image: "/img/question.svg",
    type: "internal",
    year: "2018-",
    // docLink: "https://asd.com/grid3-docs"
  },
  {
    title: "\"Remote Sensing\"",
    description: "Performable spatial data sonification interface to represent signal, loss, & noise. GSAPP Computational Design Practices capstone",
    link: "https://math-eaton.github.io/remotesensing/",
    image: "/img/question.svg", 
    type: "external",
    year: "2024",
    docLink: "https://gsapp-cdp.github.io/archive/projects/2024/remote-sensing/"
  },
  {
    title: "Rhythmanalysis",
    description: "ML-inferred realtime diary of sonic events outside my window",
    link: "https://math-eaton.github.io/rhythmanalysis/",
    image: "/img/question.svg",
    type: "external",
    year: "2025",
    docLink: "https://github.com/math-eaton/rhythmanalysis"
  },
    {
    title: "Eternal Return Phase",
    description: "In-browser phase loop representation",
    link: "https://math-eaton.github.io/sound-species/",
    image: "/img/question.svg",
    type: "external",
    year: "2025"
  },
  {
    title: "Orbital",
    description: "3D simulation of earth's satellites using norad orbital ephemerides",
    link: "https://math-eaton.github.io/orbital/",
    image: "/img/question.svg",
    type: "external",
    year: "2024"
    // docLink: "https://github.com/math-eaton/orbital"
  },
  {
    title: "Towers",
    description: "Explorations into radio networking infrastructure",
    link: "/works/dataviz",
    image: "/img/question.svg",
    type: "internal",
    year: "2022"
  },
    {
    title: "Where I've Gone / Where I'm Going",
    description: "An animated exercise in self-surveillance",
    link: "/works/dataviz",
    image: "/img/question.svg",
    type: "internal",
    year: "2025"
  },
    {
    title: "WFHDJ",
    description: "Elapse a generative piece of music throughout the workday. Programmed using Max/MSP",
    link: "/works/dataviz",
    image: "/img/question.svg",
    type: "internal",
    year: "2022"
  },
  {
    title: "Photo",
    description: "35mm photography and printmaking",
    link: "https://www.instagram.com/math_eaton/",
    image: "/img/question.svg",
    type: "external",
    // year: ""
  },
  {
  title: "Video",
  description: "Video synthesis and generative experiments",
  link: "https://vimeo.com/saintlater",
  image: "/img/question.svg",
  type: "external",
  // year: ""
},


];
---

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="/css/works.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>selected work - mheaton.net</title>
</head>
<body id="works">
    <!-- Color overlay for blend effects -->
    <div id="overlay"></div>
    
    <a href="/" class="pointer" id="name">matthew j. heaton</a>
    
    <!-- <div class="page-title">selected work</div> -->
        
    <div class="works-grid">
      {works.map(work => (
        <div class="work-item">
          <a 
            href={work.link} 
            class="work-image-link pointer"
            target={work.type === 'external' ? '_blank' : '_self'}
            rel={work.type === 'external' ? 'noopener noreferrer' : ''}
          >
            <img src={work.image} alt={work.title} />
          </a>
          <a 
            href={work.link} 
            class="work-title-link pointer"
            target={work.type === 'external' ? '_blank' : '_self'}
            rel={work.type === 'external' ? 'noopener noreferrer' : ''}
          >
            <h3>{work.title}</h3>
          </a>
          <p>{work.description}</p>
          <div class="work-footer">
            <span class="work-year">{work.year}</span>
            {work.docLink && (
              <a 
                href={work.docLink} 
                class="doc-link pointer"
                target="_blank"
                rel="noopener noreferrer"
              >
                documentation →
              </a>
            )}
          </div>
        </div>
      ))}
    </div>
  
  <script type="module" src="/js/main.js" defer></script>
</body>
</html>
